<div class="mt-10" >
  <mat-card class="p-7 w-1/2 m-auto bg-[#DDCECD] ">
    <p class="text-3xl">Notification List</p>
    <div class="w-full bg-[#DDCECD] flex justify-between my-4">
      <button mat-raised-button class="bg-[#EEE5E5] w-5/12" (click)="openDialog('0ms', '0ms')">Send Notification</button>
      <button mat-raised-button class="bg-[#EEE5E5] w-5/12" (click)="refresh()">Refresh</button>
    </div>
    <app-notification *ngFor="let notification of notificationList" [notification]="notification" ></app-notification>
  </mat-card>
</div>
